h1{
	text-align:center;
	color:black;
}

h3{
	color:red;
}

body{
	text-align:center;
	background-color:orange;
	color:darkred;
	font-size:20px;
	border:4px solid black;
}

button{
	font-size:25px;
	background-color:grey;
	padding:5px;
	margin-top:10px;
	margin-bottom:10px; 
}

button:hover{
	color:red;
	font-size:35px;
	background-color:black; 
}

.hide {
	display:none;
}

#start{
	background-color:white;
	color:black;
	font-size:40px; 
	margin-bottom:20px; 
}

#start:hover{
	font-size:50px;
	color:white;
	background-color:black; 
}

.active{
	padding-top: 15px;
	margin: auto;
	font-size: 20px;
	text-align: center;
	color:white;
}

.active:hover{
	font-size: 30px;
	color: white;
}
